*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --btn-color: #0061FF;
    --text-color: #1F1F1F;
    --light-text-color: #ADB6BD;
    --light-bg-color: #B4D0E7;
    --main-bg-color: #FFFFFF;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}


/*utilities*/
header{
    margin: 0 auto;
    height: 48px;
    background-color: #0061FF;
}
.cl_50{
    float: left;
    width: 50%;
    height: 48px;
    background-color: red;
}
/**Header**/

.hero{
    height: 434px;
    background-color: var(--light-bg-color);

}
.hero_container{
    margin: 0 auto;
    width: 765px;
    height: 476px;
}
.hero_container h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 43px;
    float: left;
    width: 100%;
}
.cl_40{
    float: left;
    width: 40%;
    height: 192px;
    background-color: red;
}
.cl_60{
    float: left;
    width: 60%;
    height: 281px;
    background-color: red;
}