*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Darker Grotesque', sans-serif;;
}
:root{
    --btn-color: #0061FF;
    --text-color: #1F1F1F;
    --light-text-color: #ADB6BD;
    --light-bg-color: #B4D0E7;
    --main-bg-color: #FFFFFF;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
    color: black;
}
/******
General
******/

header{
    margin: 0 auto;
    height: 48px;
    background-color: white;
}
.cl_50{
    float: left;
    width: 50%;
    height: 48px;
}
.header_btn{
    list-style: none;
    color: black;
    padding:14px;
}
.blue_btn{
    color: white;
    background-color: #0061FF;
    padding: 3px;
    margin-right: 20px;
}
.align_left{
    position: relative;
}
.align_right{
    text-align: right;
    padding-top: 13px;
}
.logo_sm{
    position: relative;
    top: 10px;
    left: 6px;
}
.btn_left{
    position: relative;
    top: 3px;
    left: 20px;
}

/*****
Header
*****/

.hero{
    height: 434px;
    background-color: var(--light-bg-color);
}
.hero_container{
    margin: 0 auto;
    width: 765px;
    height: 476px;
}
.hero_container h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 43px;
    float: left;
    width: 100%;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.cl_40{
    float: left;
    width: 40%;
    height: 192px;
}
.cl_60{
    float: left;
    width: 60%;
    height: 281px;
}
.hero_img{
    background-image: url("../img/jumbo.png");
    background-size: contain;
}
.hero_blue_btn{
    color: white;
    background-color: #0061FF;
    padding: 3px;
}
.hero_container p{
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
/********
Hero page
********/

.sm_container{
    margin: 0 auto;
    width: 675px;
}
.sm_container h2{
    padding-top: 81px;
    padding-bottom: 38px;
    font-size: 35px;
    float: left;
    width: 100%;
    font-weight: 900;
}
.cl_33{
    float: left;
    width: 33.33%;
    height: 647px;
    
}
.cl_100{
    float: left;
    width: 100%;
    height: 157px;
    margin-top: 12px ;
    position: relative;
}
li > span{
    color: var(--btn-color);
} 
ul{
    list-style: none;
}
.sub_text{
    float: left;
    width: 32.86%;
    height: 640px;
    padding: 0.7rem;
    margin: 0.1rem;
    line-height: 25px;
    font-size: small;
    margin-top: 12px ;
}
.sm{
    height: 40px;
    text-align: center;
}
.sm>p{
    font-size: medium;
    margin-bottom: 2px;
}
.sub_text, .sm, .cl_100{
    border: 2px solid #E7E7E9;
}
.sub_text>a{
    background-color: var(--btn-color);
    color: white;
    padding: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sub_text>p>a{
    text-decoration: underline;
    color: var(--btn-color);
}
.sub_text>h3{
    font-weight: 900;
    font-size: x-large;
    padding-bottom: 1rem;
}
.sub_text>h4{
    font-size: medium;
    margin-top: 2rem;
}
.function{
    padding-bottom: 1rem;
    line-height: initial;
    padding-top: 1.5rem;
}
#or{
    padding-top: 1rem;
}
.function>i{
    font-size: 10px;
}
.contact_btn{
    background-color: var(--btn-color);
    color: white;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    right: 1rem;
}
.cl_100_text{
    padding: 1.5rem;
}
.subscription>.sm_container>.cl_100,.sm{
    margin-bottom: -13px;
}
.cl_100_text>p{
    font-size: medium;
    margin-bottom: 2px;
}
.cl_100_text>h3{
    font-weight: 900;
    font-size: x-large;
}
.cl_100_text>h4{
    font-size: medium;
    margin-top: 1rem;
}
/****************
Subscription page
****************/
.partner{
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.cl_40{
    float: left;
    width: 40%;
}
.cl_60{
    float: left;
    width: 60%;
}
.partner_dim{
    height: 370px ;
    margin-top: 54px;
}
.partner_dim > img{
    max-width: 100%;
}
.partner_dim p{
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.partner_text{
    margin: 2.5rem 1rem;
}
.partner_btn{
    color:black;
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid black;
}
/***********
Partner page
***********/

.mt_text > img{
    max-width: 100%;
}
.mt_text {
    padding: 0.5rem;
    height: 450px;
}
.mt_text > h3{
    margin: 0.5rem 0;
    font-weight: 900;
}
.mt_text > h2{
    font-weight: 900;
    font-size: 35px;
}
/*****************
Multitasking page
*****************/

.cl_30{
    float: left;
    width: 30%;
}
.collage_dim{
    height: 286px;
    
}
#collage_h{
    margin-top: 115px;
}
.collage_text{
    padding-bottom: 19px;
}
.cl_50_sm{
    height: 143px;
    float: left;
    width: 50%;
    background-color: rgb(4, 0, 255);
}
.designit{
    background-color: #A2D39B ;
    background-image: url("../img/designit.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.asu {
    background-color: #61082B;
    background-image: url("../img/arizona_state_university.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.florida {
    background-color: #0093CE;
    background-image: url("../img/university_of_florida.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.topps {
    background-color: #FF1C1C;
    background-image: url("../img/topps.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.bicicle {
    background-color: #D5001F;
    background-image: url("../img/world_bicycle_relief.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.hearts {
    background-color: #B4D0E7;
    background-image: url("../img/hearst_corp.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.lp {
    background-color: #0D2481;
    background-image: url("../img/lonely_planet.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.clear {
    background-color: #FFD830;
    background-image: url("../img/clear_channel.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.trial{
    background-color: #B4D0E7;
    margin-top: 0;
    height: 240px;
    color:#61082B;
}
.cl_40>div>img{
    max-width: 33%;
    margin-bottom: 1rem;
}
.cl_40>div{
    padding: 2.5rem;
}
.trial_text{
    position: relative;
}
.trial_text>a{
    position: absolute;
    top: 86px;
    right: 0;
    background-color: white;
    padding: 0.2rem 1rem;
}
#collage_link{
    color: var(--btn-color);
    text-decoration: underline;
}
.collage{
    margin-top: 2rem;
}
/******************
companies page
*******************/

.faq{
    height: 481px;
}
.faq>p{
    padding: 1rem 0;
    font-weight: 900;
    position: relative;
}
.faq>p>span{
    position: absolute;
    right: 0;
}







/**********
Faq page
**********/

footer{
    background-color: black;
}
.footer_container{
    margin: 0 auto;
    width: 765px;
    height: 294px;
}
.cl_20{
    float: left;
    width: 20%;
    background-color: rgba(179, 255, 0, 0.664);
    height: 121px;
    margin-top: 61px;
}
.language{
    margin-top: 75px;
    height: 20px;
}
/*Footer*/

