*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Darker Grotesque', sans-serif;;
}
:root{
    --btn-color: #0061FF;
    --text-color: #1F1F1F;
    --light-text-color: #ADB6BD;
    --light-bg-color: #B4D0E7;
    --main-bg-color: #FFFFFF;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}


/*utilities*/
header{
    margin: 0 auto;
    height: 48px;
    background-color: white;
}
.cl_50{
    float: left;
    width: 50%;
    height: 48px;
}
.header_btn{
    list-style: none;
    color: black;
    padding:14px;
}
.blue_btn{
    color: white;
    background-color: #0061FF;
}
.align_left{
    position: relative;
}
.align_right{
    text-align: right;
    padding-top: 13px;
}
.logo_sm{
    position: relative;
    top: 10px;
    left: 6px;
}
.btn_left{
    position: relative;
    top: 3px;
    left: 20px;
}
.cl_50 a{
    text-decoration: none;
}
/**Header**/

.hero{
    height: 434px;
    background-color: var(--light-bg-color);

}
.hero_container{
    margin: 0 auto;
    width: 765px;
    height: 476px;
}
.hero_container h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 43px;
    float: left;
    width: 100%;
}
.cl_40{
    float: left;
    width: 40%;
    height: 192px;
    background-color: red;
}
.cl_60{
    float: left;
    width: 60%;
    height: 281px;
    background-color: red;
}
/*Hero page*/

.sm_container{
    margin: 0 auto;
    width: 675px;
}
.sm_container h2{
    padding-top: 81px;
    padding-bottom: 38px;
    font-size: 25px;
    float: left;
    width: 100%;
}
.cl_33{
    float: left;
    width: 33.33%;
    height: 647px;
    background-color: red;
}
.cl_100{
    float: left;
    width: 100%;
    height: 157px;
    background-color: red;
    margin-top: 12px ;
}
/*Subscription page*/

.cl_40{
    float: left;
    width: 40%;
    background-color: red;
}
.cl_60{
    float: left;
    width: 60%;
    background-color: red;
}
.partner_dim{
    height: 370px ;
    margin-top: 54px;
}
/*Partner page*/

.cl_30{
    float: left;
    width: 30%;
    background-color: rgb(0, 255, 234);
}
.collage_dim{
    height: 286px;
    
}
#collage_h{
    margin-top: 115px;
}
.collage_text{
    padding-bottom: 19px;
}
.cl_50_sm{
    height: 143px;
    float: left;
    width: 50%;
    background-color: rgb(4, 0, 255);
}
.designit{
    background-color: #A2D39B ;
    background-image: url("../img/designit.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.asu {
    background-color: #61082B;
    background-image: url("../img/arizona_state_university.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.florida {
    background-color: #0093CE;
    background-image: url("../img/university_of_florida.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.topps {
    background-color: #FF1C1C;
    background-image: url("../img/topps.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.bicicle {
    background-color: #D5001F;
    background-image: url("../img/world_bicycle_relief.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.hearts {
    background-color: #B4D0E7;
    background-image: url("../img/hearst_corp.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.lp {
    background-color: #0D2481;
    background-image: url("../img/lonely_planet.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.clear {
    background-color: #FFD830;
    background-image: url("../img/clear_channel.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.trial{
    background-color: #B4D0E7;
    margin-top: 0;
    height: 212px;
    color:#61082B;
}
/*companies page*/

footer{
    background-color: black;
}
.footer_container{
    margin: 0 auto;
    width: 765px;
    height: 294px;
}
.cl_20{
    float: left;
    width: 20%;
    background-color: rgba(179, 255, 0, 0.664);
    height: 121px;
    margin-top: 61px;
}
.language{
    margin-top: 75px;
    height: 20px;
}
/*Footer*/

